entrega/**/*.sql filter=lfs diff=lfs merge=lfs -text
entrega/**/*.csv filter=lfs diff=lfs merge=lfs -text
out/**/*.csv filter=lfs diff=lfs merge=lfs -text
out/**/*.sql filter=lfs diff=lfs merge=lfs -text
